/* *{
    border: 1px solid red;
} */

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif; 
    background-color: #000000;
    background-image: linear-gradient(349deg, #000000 0%, #716c6c 100%);
    color: ivory;
}

.center-column {
    display: flex;
    justify-content: space-between;
    color: ivory;
}

.center-column > .center-column-left {
    display: grid;
    align-items: center;
}

.center-column > .center-column-left > .center-btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 17px;
    padding-left: 50px;
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px; */
}

.center-column > .center-column-left >.text-body {
    font-size: 1.5em;
    padding-top: 50px;
    padding-left: 50px;
}

.center-column > .center-column-left >.text-body > .text-one {
    font-weight: 200;
}

.center-column > .center-column-left > .text-body > .text-two {
    font-weight: 200;
    color: black;
    opacity: 75%;
}

.center-column > .body-image p {
    margin-bottom: 2px;
    margin-left: 10px;
}

.center-column > .body-image > p .skyblue {
    color: skyblue;
 }

.center-column img {
    height: 450px;
    width: 450px;
}

