.nav-wrapper {
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.logo-wrapper img {
    width: 200px;
    height: 100px;
}


.nav-wrapper > .explore-links-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    margin-top: 20px;
    margin-left: -275px;
}

.nav-wrapper > .explore-links-wrapper > p {
    margin: 0px;
    color: #eecd81;
    text-transform: uppercase;
    padding-left: 16px;
    
}

.nav-wrapper > .explore-links-wrapper > .explore-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
    /* padding-right: 400px; */
}

.nav-wrapper > .explore-links-wrapper > .explore-links > .explore-link {
    width: 70px;
    text-align: center;
}


.nav-wrapper > .explore-links-wrapper > .explore-links a {
    font-family: 'Roboto', sans-serif;
    color: ivory;
    font-weight: 900;
    text-decoration: none;
}


.nav-wrapper > .spark-dropdwn {
    height: 123px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-left: -250px;
    margin-top: 39px;
}

.nav-wrapper > .spark-dropdwn a {
    justify-content: flex-start;
    font-family: 'Roboto', sans-serif;
    color: grey;
    text-decoration: none;
}


.nav-wrapper > .actions-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

.nav-wrapper > .actions-wrapper > .action a {
    font-family: 'Roboto', sans-serif;
    color: ivory;
    text-decoration: none;
}

.nav-wrapper > .actions-wrapper > .search-logo {
    color: grey;
    padding-left: 40px; 
    font-size: 2em;
}



